/** footer.css */

:root {
    --color-one: #fcd1d7;
    --color-two: #ffe7de;
    --color-three: #e9b1cd;
    --color-four: #c3829e;
    --color-five: #562135;
    --text-one: #ffffff;
    --text-two: #000000;

}

footer {
    background-color: var(--color-five);
    color: var(--color-two);
    position: relative;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}
