/** main.css */

:root {
    --color-one: #fcd1d7;
    --color-two: #ffe7de;
    --color-three: #e9b1cd;
    --color-four: #c3829e;
    --color-five: #562135;
    --text-one: #ffffff;
    --text-two: #000000;

}

body {
    background-color: var(--color-four);
    color: var(--color-two);
}

h1 {
    border-bottom: 4px double var(--color-two);
}

.main-box{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    padding: 10px;
}