{% extends "base.html.twig" %}

{% block title %}Me{% endblock %}

{% block body %}
    <div class="main-box">
        <h1>Me</h1>

        <a href="{{ asset('img/meow.jpg') }}">
            <img src="{{ asset('img/meow.jpg') }}" width="200" alt="">
        </a>

        <p>
            Hej! Jag heter Linh, pluggar webbprogrammering på BTH. 
            På fritiden burkar jag spela datorspel, läsa, umgås med vänner och m,m.
        </p>
    </div>

{% endblock %}
