{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="main-box">
        <h1>Report</h1>
        <div class="two-col-layout">
            <aside class="aside3">
                <h2>Innehållsförteckning:</h2>
                <ul>
                    <li class="dot1"><a href="#kmom01">kmom01</a></li>
                    <li class="dot1"><a href="#kmom02">kmom02</a></li>
                    <li class="dot1"><a href="#kmom03">kmom03</a></li>
                    <li class="dot1"><a href="#kmom04">kmom04</a></li>
                    <li class="dot1"><a href="#kmom05">kmom05</a></li>
                    <li class="dot1"><a href="#kmom06">kmom06</a></li>
                    <li class="dot1"><a href="#kmom07/10">kmom07/10</a></li>
                </ul>
            </aside>

            <aside class="aside4">
                <article class="article">
                    <h1>Redovisning</h1>

                    <h2 id="kmom01">kmom01</h2>
                        <p>
                        Min enda erfarenhet med objektorientering är från objektorienterad pyton kursen. Så jag har lite förkunskaper och jag tycker det är intressant men svårt.
PHPs modell för klasser och objekt, de grunderna man kanske kan börja med är att veta vad orden innebär. En klass är typ som en mall för att skapa objekt, medan ett objekt är en instans av en klass. En klass omsluter metoder och ’’properties’’.
När jag reflekterar kodbasen, koden och strukturen, tycker jag att det är ganska strukturerat eller organiserat. Det är vissa delar jag känner igen p.g.a. en annan kurs jag läst innan, t.ex twig m.m.
’’PHP the right way’’ har jag tyvärr inte hunnit läsa hela, men områden jag tycker verkar intressant är ’’coding practices’’, speciellt ’’design patterns’’.  I artikeln ’’the basics’’ skrev dem om att ibland glömmer man bort basen och tar genvägar eller dåliga kod vanor. Den delen va också intressant och läsa igenom. 
TIL hur man börjar och bygga en webbplats med Symfony. 

                        </p>

                    <h2 id="kmom02">kmom02</h2>
                        <p>
                        Här kommer redovisningstexten för detta kursmoment.
                        </p>

                    <h2 id="kmom03">kmom03</h2>
                        <p>
                        Här kommer redovisningstexten för detta kursmoment.
                        </p>
                
                    <h2 id="kmom04">kmom04</h2>
                        <p>
                        Här kommer redovisningstexten för detta kursmoment.
                        </p>
                    <h2 id="kmom05">kmom05</h2>
                        <p>
                        Här kommer redovisningstexten för detta kursmoment.
                        </p>
                    <h2 id="kmom06">kmom06</h2>
                        <p>
                        Här kommer redovisningstexten för detta kursmoment.
                        </p>
                    <h2 id="kmom07/10">kmom07/10</h2>
                        <p>
                        Här kommer redovisningstexten för detta kursmoment.
                        </p>
                </article>
            </aside>
        </div>
    </div>
{% endblock %}
